{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Sign yo self up</h2>
    <div class="control-group">
        <div class="controls">
	  <label for = "username">Username</label>
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
	  <label for = "password">Password</label>
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>

   <div class="control-group">
        <div class="controls">
          <label for = "teacherFlag">Is a teacher?</label>
          <input type="checkbox" id=teacherFlag" name="teacherFlag" class="input-xlarge"
	   value="{{ request.form.teacherFlag }}"
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </div>
  </form>
{% endblock %}
